[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
certifi = "*"
charset-normalizer = "*"
html5lib = "*"
idna = "*"
nba-api = "*"
numpy = "*"
pandas = "*"
prettytable = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
setuptools = "*"
six = "*"
soupsieve = "*"
tzdata = "*"
urllib3 = "*"
wcwidth = "*"
webencodings = "*"

[dev-packages]

[requires]
python_version = "3.11.4"
